{% extends 'Core_Base_Template.html' %}

<!-- Title -->
{% load static %} {% block title %}
<title>Home Page</title>
{% endblock title %} {% block Core_Content %}

<div class="container mt-3 mb-5 text-center">
	<h1>This is Home Page</h1>
	<div>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, dolorum.
		Possimus dolore sunt magnam delectus voluptas officia dolorem ipsa
		suscipit laudantium soluta quis natus excepturi expedita doloremque,
		voluptatum et temporibus!
	</div>
</div>

{% endblock Core_Content %}
