{% load static %}
<nav
	class="
		navbar navbar-expand-md navbar-dark
		bg-dark
		sticky-top
		justify-content-between
	"
>
	<div class="container">
		<a class="navbar-brand" href="{% url 'Core_App:Main-Home-Page' %}">
			<img
				src="{% static 'images/logo3.svg' %}"
				style="border-radius: 20%; height: 40px"
				class="img-fluid"
			/>
		</a>
		<a href="{% url 'Core_App:Main-Home-Page' %}" class="navbar-brand fs-3">
			Twitter Bot
		</a>

		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<!-- Solution left right is :- me-auto mb-lg-0 -->

			<!-- Left side Nav-Link -->
			<div class="navbar-nav me-auto mb-lg-0">
				<a href="{% url 'Core_App:Home-Page' %}" class="nav-link">
					Home
				</a>

				<a
					href="{% url 'Features_App:User-Info-Page' %}"
					class="nav-link"
				>
					User-Info
				</a>

				<a href="{% url 'Features_App:Search-Page' %}" class="nav-link">
					Search
				</a>

				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="choiceCompare"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Compare
					</a>
					<ul class="dropdown-menu" aria-labelledby="choiceCompare">
						<a
							class="dropdown-item"
							href="{% url 'Features_App:Compare-Users-Page' %}"
						>
							Users
						</a>
						<a
							class="dropdown-item"
							href="{% url 'Features_App:Compare-Tweets-Page' %}"
						>
							Tweets
						</a>
					</ul>
				</li>

				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="choiceCompare"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						User-Most-Popular
					</a>
					<ul class="dropdown-menu" aria-labelledby="choiceCompare">
						<a
							href="{% url 'Features_App:User-Most-Popular-Followers-Page' %}"
							class="dropdown-item"
						>
							Followers
						</a>

						<a
							href="{% url 'Features_App:User-Most-Popular-Following-Page' %}"
							class="dropdown-item"
						>
							Following
						</a>
					</ul>
				</li>
			</div>
		</div>
	</div>
</nav>
