{% extends 'Core_Base_Template.html' %}
<!-- loading -->
{% load static %} {% block Core_Content %}

<!-- Title -->
{% block title %}
<title>Choice Comparison Page</title>
{% endblock title %}

<div class="container my-3 mb-5 text-center justify-content-center">
	<h3 class="my-3">Choice Comparison</h3>
	<div class="col-md-6 mx-auto">
		<div class="d-flex flex-column gap-2">
			<a
				href="{% url 'Features_App:Compare-Users-Page' %}"
				class="p-2 btn btn-lg btn-success"
			>
				Users
			</a>

			<a
				href="{% url 'Features_App:Compare-Tweets-Page' %}"
				class="p-2 btn btn-lg btn-success"
			>
				Tweets
			</a>
		</div>
	</div>
</div>

{% endblock Core_Content %}
