{% extends 'Core_Base_Template.html' %} {% load static %}

<!-- Title -->
{% block title %} {% if user_status == "user_enter" %}
<title>@{{ user.screen_name }} - User Info</title>
{% else %}
<title>User Info</title>
{% endif %} {% endblock title %} {% block Core_Content %}

<div class="container mt-3 mb-5">
	<form method="GET">
		<div class="input-group mb-3">
			<span class="input-group-text" id="twitter-username-text">
				twitter.com/
			</span>
			<input
				name="username"
				type="text"
				class="form-control"
				id="twitter-username-label"
				aria-describedby="twitter-username-text"
				placeholder="username"
			/>
		</div>
	</form>
	<div class="text-center">
		{% if user_status == "user_not_enter" %}
		<h3>Enter Username</h3>
		{% elif user_status == "user_not_found" %}
		<h3>
			User Not Found
			<br />
			Enter Proper Username
		</h3>
		{% elif user_status == "user_enter" %}

		<div class="table-responsive text-center">
			<a
				href="https://twitter.com/{{ user.screen_name }}"
				target="_blank"
			>
				<img
					src="{{ user.profile_image_url }}"
					alt="@{{ user.screen_name }} profile picture"
					class="img-fluid"
				/>
			</a>
			<table class="table table-borderless table-hover">
				<tbody>
					<tr>
						<th scope="row">Display Name</th>
						<td>{{ user.name }}</td>
					</tr>
					<tr>
						<th scope="row">Username</th>
						<td>{{ user.screen_name }}</td>
					</tr>
					<tr>
						<th scope="row">Followers</th>
						<td>{{ user.followers_count }}</td>
					</tr>
					<tr>
						<th scope="row">Following</th>
						<td>{{ user.friends_count }}</td>
					</tr>
					<tr>
						<th scope="row">Verified</th>
						<td>{{ user.verified }}</td>
					</tr>
					<tr>
						<th scope="row">No of Tweets</th>
						<td>{{ user.statuses_count }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="d-flex align-items-end gap-2">
			<a
				href="https://twitter.com/{{ user.screen_name }}"
				target="_blank"
				class="btn btn-success ms-auto"
			>
				See User on Twitter
			</a>
			<input
				type="button"
				value="Download Json file"
				class="btn btn-success"
				onclick="onDownload()"
			/>
		</div>
		{% endif %}
	</div>
</div>

{% block scripts %} {{ block.super }} {% if user_status == "user_enter" %}
<script src="{% static 'js/download_data.js' %}"></script>
<script type="text/javascript">
	const user = "{{user_json|escapejs}}";

	function onDownload() {
		download(user, "{{ user.screen_name }}-user-info.json", "text/json");
	}
</script>
{% endif %} {% endblock scripts %} {% endblock Core_Content %}
